*::-webkit-scrollbar {
    width: 0.325rem;
    height: 0.325rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
}

*::-webkit-scrollbar-thumb {
    padding: 0;
    margin: 0;
    background-color: oklch(44.4% 0.011 73.639 / 0.25);
    border-radius: 0.75rem;
}

*::-webkit-scrollbar-track {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0.75rem;
}